html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Noto Sans Japanese', sans-serif;
    margin-bottom: 60px;
}
a:hover,
a:active,
a:link {
    text-decoration: none;
}
.tiny-space {
    font-size: 1px;
}
.clearfix {
    background: none;
    border: none;
}
.actively {
    border-bottom: 1px #ddd solid;
}
.container-home {
    padding-top: 8em;
}
.home-social {
    font-size: 32px;
    display: in-line;
    list-style-type: none;
    padding-left: 0px;
}
.home-social li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.contacts-social {
    font-size: 18px;
    list-style-type: none;
    padding-left: 0px;
}
#talk-box {
    font-style: italic;
    font-size: 1.5em;
    color: rgb(35, 82, 134);
}
.page {
    min-height: 800px;
}
.about-page {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/502285/thumbs-up.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.projects-page {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/502285/hanabi.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.contact-page {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/502285/writing.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.card {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 2em;
}
.card-about {
    margin-top: 6em;
    padding: 2em;
    margin-bottom: 24em;
}
.card-contact {
    margin-top: 6em;
    padding: 2em;
    margin-bottom: 12em;
}
.card-projects {
    margin-top: 4em;
    margin-bottom: 20em;
}
.card-btn {
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-right: 1em;
    width: 50px;
    float: right;
}
.portal-well {
    min-height: 475px;
}
.portal-well h3 {
    margin-bottom: 1em;
}
.site-portal {
    width: 100%;
    margin-bottom: 2em;
    border: 10px #fff solid;
    
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
}
.container .text-muted {
    margin: 20px 0;
}